{% extends 'base.html' %}
   
  {% block content %}
  <!-- Main Content Container -->
  <main class="container main-bg">
    <!-- Main Featured Article Banner -->
    {% for post in featured_posts %}
    {% if forloop.first %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark featured-banner" style="background-image: url({{ post.featured_image.url }}
      ); background-blend-mode: overlay; background-size: cover; background-position: center;">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">
          {{ post.title }}
        </h1>
        <p class="lead my-3">
          {{ post.short_description |truncatewords:10 }}
        </p>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold">Continue reading...</a>
        </p>
      </div>
    </div>
    {% endif %}


    {% endfor %}
    <br>

    <!-- Two-Column Featured Posts Grid -->
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
         Category-{{ category }} 
        </h3>
    <div class="row mb-2">
      {% if posts %}  
      {% for post in posts %}
     
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
            <h3 class="mb-0">{{ post.title }}</h3>
            <div class="mb-1 text-muted">{{ post.created_at|date:"M d" }} by <strong>{{ post.author }}</strong></div>
            <p class="card-text mb-auto">{{ post.short_description| truncatewords:25 }}</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>

          <div class="col-auto d-none d-lg-block">
            {% if post.featured_image %}
            <img src="{{ post.featured_image.url }}" width="200" height="250" class="img-fluid" alt="{{ post.title }}">
            {% endif %}
          </div>
        </div>
      </div>
     
      {% endfor %}
      {% else %}
      <p> No posts found </p>
      {% endif %}
    </div>

    
    <!-- <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Recent Articles
        </h3>

        {% for post in posts %}
        <article class="blog-post mb-4">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">{{ post.created_at|date:"F j, Y" }} by <a href="#">{{ post.author }}</a></p>
          <p>{{ post.short_description|truncatewords:25 }}</p>
          <a href="#" class="btn btn-primary btn-sm">Read More &rarr;</a>
        </article>
        {% empty %}
        <p>No articles found.</p>
        {% endfor %}
      </div>
    </div>

    
    </div> -->
  </main>

  {% endblock %}

 